openapi: 3.2.0
info:
  title: Hyperbrowser Profiles API
  version: 1.0.0
servers:
- url: https://api.hyperbrowser.ai
  description: Production server
tags:
- name: Profiles
paths:
  /api/profiles:
    get:
      summary: Get list of profiles
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: List profiles
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.profiles.list({\n  page: 1\n});"
      - lang: python
        label: List profiles
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import ProfileListParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.profiles.list(ProfileListParams(\n  page=1\n))"
      parameters:
      - name: page
        in: query
        schema:
          type: number
          default: 1
      - name: limit
        in: query
        schema:
          type: number
          default: 10
      - name: name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Profiles
      operationId: getApiProfiles
      x-operation-id-source: derived
components:
  schemas:
    ProfileListResponse:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/ProfileResponse'
        totalCount:
          type: number
        page:
          type: number
        perPage:
          type: number
    ProfileResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type:
          - string
          - 'null'
        teamId:
          type: string
        createdAt:
          type: string
          format: iso8601
        updatedAt:
          type: string
          format: iso8601
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
