openapi: 3.2.0
info:
  title: Hyperbrowser Profile API
  version: 1.0.0
servers:
- url: https://api.hyperbrowser.ai
  description: Production server
tags:
- name: Profile
paths:
  /api/profile:
    post:
      summary: Creates a new profile
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Create a profile
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.profiles.create({\n  name: 'My Profile'\n});"
      - lang: python
        label: Create a profile
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import CreateProfileParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.profiles.create(CreateProfileParams(\n  name='My Profile'\n))"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileParams'
      responses:
        '200':
          description: Profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProfileResponse'
      tags:
      - Profile
      operationId: postApiProfile
      x-operation-id-source: derived
  /api/profile/{id}:
    get:
      summary: Get profile by ID
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get a profile
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.profiles.get(''profile-id'');'
      - lang: python
        label: Get a profile
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.profiles.get(''profile-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Profile
      operationId: getApiProfileById
      x-operation-id-source: derived
    delete:
      summary: Delete profile by ID
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Delete a profile
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.profiles.delete(''profile-id'');'
      - lang: python
        label: Delete a profile
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.profiles.delete(''profile-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Profile deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Profile
      operationId: deleteApiProfileById
      x-operation-id-source: derived
components:
  schemas:
    BasicResponse:
      type: object
      properties:
        success:
          type: boolean
    ProfileResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type:
          - string
          - 'null'
        teamId:
          type: string
        createdAt:
          type: string
          format: iso8601
        updatedAt:
          type: string
          format: iso8601
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
    CreateProfileResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type:
          - string
          - 'null'
    CreateProfileParams:
      type: object
      properties:
        name:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
