openapi: 3.0.1
info:
  title: Hyperbrowser Agents Task API
  version: 1.0.0
  description: Start, stop, and monitor agentic browser tasks across HyperAgent, Browser-Use, Claude Computer Use, Gemini Computer Use, and OpenAI CUA.
  contact:
    name: Hyperbrowser
    url: https://hyperbrowser.ai
  license:
    name: Hyperbrowser Terms
    url: https://hyperbrowser.ai/terms
servers:
- url: https://api.hyperbrowser.ai
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Task
paths:
  /api/task/hyper-agent:
    post:
      summary: Start a HyperAgent task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Start HyperAgent task
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.agents.hyperAgent.start({\n  task: 'Find the price of the product',\n  maxSteps: 20\n});"
      - lang: python
        label: Start HyperAgent task
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import StartHyperAgentTaskParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.agents.hyper_agent.start(StartHyperAgentTaskParams(\n  task='Find the price of the product',\n  max_steps=20\n))"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartHyperAgentTaskParams'
      responses:
        '200':
          description: HyperAgent task started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartHyperAgentTaskResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/hyper-agent/{id}:
    get:
      summary: Get HyperAgent task status and results
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get HyperAgent task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.hyperAgent.get(''task-id'');'
      - lang: python
        label: Get HyperAgent task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.hyper_agent.get(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HyperAgent task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HyperAgentTaskResponse'
        '404':
          description: HyperAgent task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/hyper-agent/{id}/stop:
    put:
      summary: Stop a HyperAgent task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Stop HyperAgent task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.hyperAgent.stop(''task-id'');'
      - lang: python
        label: Stop HyperAgent task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.hyper_agent.stop(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HyperAgent task stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Task
  /api/task/hyper-agent/{id}/status:
    get:
      summary: Get HyperAgent task status
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get HyperAgent task status
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.hyperAgent.getStatus(''task-id'');'
      - lang: python
        label: Get HyperAgent task status
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.hyper_agent.get_status(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HyperAgent task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: HyperAgent task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/browser-use:
    post:
      summary: Start a browser use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Start BrowserUse task
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.agents.browserUse.start({\n  task: 'Find the price of the product',\n  llm: 'gemini-2.0-flash',\n  maxSteps: 20\n});"
      - lang: python
        label: Start BrowserUse task
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import StartBrowserUseTaskParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.agents.browser_use.start(StartBrowserUseTaskParams(\n  task='Find the price of the product',\n  llm='gemini-2.0-flash',\n  max_steps=20\n))"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBrowserUseTaskParams'
      responses:
        '200':
          description: Browser use task started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartBrowserUseTaskResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/browser-use/{id}:
    get:
      summary: Get browser use task status and results
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get BrowserUse task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.browserUse.get(''task-id'');'
      - lang: python
        label: Get BrowserUse task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.browser_use.get(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Browser use task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserUseTaskResponse'
        '404':
          description: Browser use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/browser-use/{id}/stop:
    put:
      summary: Stop a browser use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Stop BrowserUse task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.browserUse.stop(''task-id'');'
      - lang: python
        label: Stop BrowserUse task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.browser_use.stop(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Browser use task stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Task
  /api/task/browser-use/{id}/status:
    get:
      summary: Get browser use task status
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get BrowserUse task status
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.browserUse.getStatus(''task-id'');'
      - lang: python
        label: Get BrowserUse task status
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.browser_use.get_status(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Browser use task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Browser use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/claude-computer-use:
    post:
      summary: Start a claude computer use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Start Claude Computer Use task
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.agents.claudeComputerUse.start({\n  task: 'Find the price of the product',\n  llm: 'claude-sonnet-4-5',\n  maxSteps: 20\n});"
      - lang: python
        label: Start Claude Computer Use task
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import StartClaudeComputerUseTaskParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.agents.claude_computer_use.start(StartClaudeComputerUseTaskParams(\n  task='Find the price of the product',\n  llm='claude-sonnet-4-5',\n  max_steps=20\n))"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartClaudeComputerUseTaskParams'
      responses:
        '200':
          description: Claude computer use task started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartClaudeComputerUseTaskResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/claude-computer-use/{id}:
    get:
      summary: Get claude computer use task status and results
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get Claude Computer Use task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.claudeComputerUse.get(''task-id'');'
      - lang: python
        label: Get Claude Computer Use task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.claude_computer_use.get(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claude computer use task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaudeComputerUseTaskResponse'
        '404':
          description: Claude computer use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/claude-computer-use/{id}/stop:
    put:
      summary: Stop a claude computer use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Stop Claude Computer Use task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.claudeComputerUse.stop(''task-id'');'
      - lang: python
        label: Stop Claude Computer Use task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.claude_computer_use.stop(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claude computer use task stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Task
  /api/task/claude-computer-use/{id}/status:
    get:
      summary: Get claude computer use task status
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get Claude Computer Use task status
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.claudeComputerUse.getStatus(''task-id'');'
      - lang: python
        label: Get Claude Computer Use task status
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.claude_computer_use.get_status(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claude computer use task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Claude computer use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/gemini-computer-use:
    post:
      summary: Start a gemini computer use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Start Gemini Computer Use task
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.agents.geminiComputerUse.start({\n  task: 'Find the price of the product',\n  maxSteps: 20\n});"
      - lang: python
        label: Start Gemini Computer Use task
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import StartGeminiComputerUseTaskParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.agents.gemini_computer_use.start(StartGeminiComputerUseTaskParams(\n  task='Find the price of the product',\n  max_steps=20\n))"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartGeminiComputerUseTaskParams'
      responses:
        '200':
          description: Gemini computer use task started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartGeminiComputerUseTaskResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/gemini-computer-use/{id}:
    get:
      summary: Get gemini computer use task status and results
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get Gemini Computer Use task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.geminiComputerUse.get(''task-id'');'
      - lang: python
        label: Get Gemini Computer Use task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.gemini_computer_use.get(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gemini computer use task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeminiComputerUseTaskResponse'
        '404':
          description: Gemini computer use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/gemini-computer-use/{id}/stop:
    put:
      summary: Stop a gemini computer use task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Stop Gemini Computer Use task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.geminiComputerUse.stop(''task-id'');'
      - lang: python
        label: Stop Gemini Computer Use task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.gemini_computer_use.stop(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gemini computer use task stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Task
  /api/task/gemini-computer-use/{id}/status:
    get:
      summary: Get gemini computer use task status
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get Gemini Computer Use task status
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.geminiComputerUse.getStatus(''task-id'');'
      - lang: python
        label: Get Gemini Computer Use task status
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.gemini_computer_use.get_status(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gemini computer use task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Gemini computer use task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/cua:
    post:
      summary: Start a CUA task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Start CUA task
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.agents.cua.start({\n  task: 'Find the price of the product',\n  maxSteps: 20\n});"
      - lang: python
        label: Start CUA task
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import StartCuaTaskParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.agents.cua.start(StartCuaTaskParams(\n  task='Find the price of the product',\n  max_steps=20\n))"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCuaTaskParams'
      responses:
        '200':
          description: CUA task started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartCuaTaskResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/cua/{id}:
    get:
      summary: Get CUA task status and results
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get CUA task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.cua.get(''task-id'');'
      - lang: python
        label: Get CUA task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.cua.get(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CUA task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CuaTaskResponse'
        '404':
          description: CUA task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
  /api/task/cua/{id}/stop:
    put:
      summary: Stop a CUA task
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Stop CUA task
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.cua.stop(''task-id'');'
      - lang: python
        label: Stop CUA task
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.cua.stop(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CUA task stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      tags:
      - Task
  /api/task/cua/{id}/status:
    get:
      summary: Get CUA task status
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Get CUA task status
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.agents.cua.getStatus(''task-id'');'
      - lang: python
        label: Get CUA task status
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.agents.cua.get_status(''task-id'')'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CUA task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: CUA task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Task
components:
  schemas:
    GeminiComputerUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        data:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
            finalResult:
              type: string
              nullable: true
        error:
          type: string
          nullable: true
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
      - status
    StartGeminiComputerUseTaskParams:
      type: object
      properties:
        task:
          type: string
        llm:
          $ref: '#/components/schemas/GeminiComputerUseLlm'
        sessionId:
          type: string
        maxFailures:
          type: number
          default: 3
        maxSteps:
          type: number
          default: 20
        keepBrowserOpen:
          type: boolean
          default: false
        sessionOptions:
          $ref: '#/components/schemas/CreateSessionParams'
        useCustomApiKeys:
          type: boolean
          default: false
        apiKeys:
          type: object
          properties:
            google:
              type: string
        useComputerAction:
          type: boolean
          default: false
      required:
      - task
      default:
        task: go to example.com
    StartHyperAgentTaskParams:
      type: object
      properties:
        task:
          type: string
        version:
          $ref: '#/components/schemas/HyperAgentVersion'
        llm:
          $ref: '#/components/schemas/HyperAgentLlm'
        sessionId:
          type: string
        maxSteps:
          type: number
          default: 20
        keepBrowserOpen:
          type: boolean
          default: false
        sessionOptions:
          $ref: '#/components/schemas/CreateSessionParams'
        useCustomApiKeys:
          type: boolean
          default: false
        apiKeys:
          type: object
          properties:
            openai:
              type: string
            anthropic:
              type: string
            google:
              type: string
      required:
      - task
      default:
        task: go to example.com
    ClaudeComputerUseLlm:
      type: string
      enum:
      - claude-opus-4-5
      - claude-opus-4-6
      - claude-haiku-4-5-20251001
      - claude-sonnet-4-6
      - claude-sonnet-4-5
      - claude-sonnet-4-20250514
      default: claude-sonnet-4-5
    StartClaudeComputerUseTaskParams:
      type: object
      properties:
        task:
          type: string
        llm:
          $ref: '#/components/schemas/ClaudeComputerUseLlm'
        sessionId:
          type: string
        maxFailures:
          type: number
          default: 3
        maxSteps:
          type: number
          default: 20
        keepBrowserOpen:
          type: boolean
          default: false
        sessionOptions:
          $ref: '#/components/schemas/CreateSessionParams'
        useCustomApiKeys:
          type: boolean
          default: false
        apiKeys:
          type: object
          properties:
            anthropic:
              type: string
        useComputerAction:
          type: boolean
          default: false
      required:
      - task
      default:
        task: go to example.com
    HyperAgentTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        data:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
            finalResult:
              type: string
              nullable: true
        error:
          type: string
          nullable: true
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
      - status
    StartCuaTaskParams:
      type: object
      properties:
        task:
          type: string
        llm:
          $ref: '#/components/schemas/CuaLlm'
        sessionId:
          type: string
        maxFailures:
          type: number
          default: 3
        maxSteps:
          type: number
          default: 20
        keepBrowserOpen:
          type: boolean
          default: false
        sessionOptions:
          $ref: '#/components/schemas/CreateSessionParams'
        useCustomApiKeys:
          type: boolean
          default: false
        apiKeys:
          type: object
          properties:
            openai:
              type: string
        useComputerAction:
          type: boolean
          default: false
      required:
      - task
      default:
        task: go to example.com
    JobStatus:
      type: string
      enum:
      - pending
      - running
      - completed
      - failed
      - stopped
    StartBrowserUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
    CuaTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        data:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
            finalResult:
              type: string
              nullable: true
        error:
          type: string
          nullable: true
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
      - status
    BrowserUseVersion:
      type: string
      enum:
      - 0.1.40
      - 0.7.10
      - latest
      default: 0.1.40
    BrowserUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        data:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
            finalResult:
              type: string
              nullable: true
        error:
          type: string
          nullable: true
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
      - status
    ProxyCountry:
      type: string
      enum:
      - AD
      - AE
      - AF
      - AL
      - AM
      - AO
      - AR
      - AT
      - AU
      - AW
      - AZ
      - BA
      - BD
      - BE
      - BG
      - BH
      - BJ
      - BO
      - BR
      - BS
      - BT
      - BY
      - BZ
      - CA
      - CF
      - CH
      - CI
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - EC
      - EE
      - EG
      - ES
      - ET
      - EU
      - FI
      - FJ
      - FR
      - GB
      - GE
      - GH
      - GM
      - GR
      - HK
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IN
      - IQ
      - IR
      - IS
      - IT
      - JM
      - JO
      - JP
      - KE
      - KH
      - KR
      - KW
      - KZ
      - LB
      - LI
      - LR
      - LT
      - LU
      - LV
      - MA
      - MC
      - MD
      - ME
      - MG
      - MK
      - ML
      - MM
      - MN
      - MR
      - MT
      - MU
      - MV
      - MX
      - MY
      - MZ
      - NG
      - NL
      - 'NO'
      - NZ
      - OM
      - PA
      - PE
      - PH
      - PK
      - PL
      - PR
      - PT
      - PY
      - QA
      - RANDOM_COUNTRY
      - RO
      - RS
      - RU
      - SA
      - SC
      - SD
      - SE
      - SG
      - SI
      - SK
      - SN
      - SS
      - TD
      - TG
      - TH
      - TM
      - TN
      - TR
      - TT
      - TW
      - UA
      - UG
      - US
      - UY
      - UZ
      - VE
      - VG
      - VN
      - YE
      - ZA
      - ZM
      - ZW
      - ad
      - ae
      - af
      - al
      - am
      - ao
      - ar
      - at
      - au
      - aw
      - az
      - ba
      - bd
      - be
      - bg
      - bh
      - bj
      - bo
      - br
      - bs
      - bt
      - by
      - bz
      - ca
      - cf
      - ch
      - ci
      - cl
      - cm
      - cn
      - co
      - cr
      - cu
      - cy
      - cz
      - de
      - dj
      - dk
      - dm
      - ec
      - ee
      - eg
      - es
      - et
      - eu
      - fi
      - fj
      - fr
      - gb
      - ge
      - gh
      - gm
      - gr
      - hk
      - hn
      - hr
      - ht
      - hu
      - id
      - ie
      - il
      - in
      - iq
      - ir
      - is
      - it
      - jm
      - jo
      - jp
      - ke
      - kh
      - kr
      - kw
      - kz
      - lb
      - li
      - lr
      - lt
      - lu
      - lv
      - ma
      - mc
      - md
      - me
      - mg
      - mk
      - ml
      - mm
      - mn
      - mr
      - mt
      - mu
      - mv
      - mx
      - my
      - mz
      - ng
      - nl
      - 'no'
      - nz
      - om
      - pa
      - pe
      - ph
      - pk
      - pl
      - pr
      - pt
      - py
      - qa
      - ro
      - rs
      - ru
      - sa
      - sc
      - sd
      - se
      - sg
      - si
      - sk
      - sn
      - ss
      - td
      - tg
      - th
      - tm
      - tn
      - tr
      - tt
      - tw
      - ua
      - ug
      - us
      - uy
      - uz
      - ve
      - vg
      - vn
      - ye
      - za
      - zm
      - zw
    BrowserUseLlm:
      type: string
      enum:
      - gpt-4o
      - gpt-4o-mini
      - gpt-4.1
      - gpt-4.1-mini
      - claude-sonnet-4-6
      - claude-sonnet-4-5
      - claude-sonnet-4-20250514
      - gemini-2.0-flash
      - gemini-2.5-flash
      default: gemini-2.0-flash
    Device:
      type: string
      enum:
      - desktop
      - mobile
    CreateSessionProfile:
      type: object
      properties:
        id:
          type: string
        persistChanges:
          type: boolean
        persistNetworkCache:
          type: boolean
          description: When persisting profile changes, also persist the browser's network cache (HTTP cache).
    SessionRegion:
      type: string
      enum:
      - us-central
      - us-west
      - us-east
      - asia-south
      - europe-west
    ProxyState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      - al
      - ak
      - az
      - ar
      - ca
      - co
      - ct
      - de
      - fl
      - ga
      - hi
      - id
      - il
      - in
      - ia
      - ks
      - ky
      - la
      - me
      - md
      - ma
      - mi
      - mn
      - ms
      - mo
      - mt
      - ne
      - nv
      - nh
      - nj
      - nm
      - ny
      - nc
      - nd
      - oh
      - ok
      - or
      - pa
      - ri
      - sc
      - sd
      - tn
      - tx
      - ut
      - vt
      - va
      - wa
      - wv
      - wi
      - wy
      nullable: true
      description: Optional state code for proxies to US states. Is mutually exclusive with proxyCity. Takes in two letter state code.
    CuaLlm:
      type: string
      enum:
      - computer-use-preview
      - gpt-5.4
      - gpt-5.4-mini
      default: computer-use-preview
    ScreenConfig:
      type: object
      properties:
        width:
          type: number
          default: 1280
        height:
          type: number
          default: 720
    StartCuaTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
    StartGeminiComputerUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
    ISO639_1:
      type: string
      enum:
      - aa
      - ab
      - ae
      - af
      - ak
      - am
      - an
      - ar
      - as
      - av
      - ay
      - az
      - ba
      - be
      - bg
      - bh
      - bi
      - bm
      - bn
      - bo
      - br
      - bs
      - ca
      - ce
      - ch
      - co
      - cr
      - cs
      - cu
      - cv
      - cy
      - da
      - de
      - dv
      - dz
      - ee
      - el
      - en
      - eo
      - es
      - et
      - eu
      - fa
      - ff
      - fi
      - fj
      - fo
      - fr
      - fy
      - ga
      - gd
      - gl
      - gn
      - gu
      - gv
      - ha
      - he
      - hi
      - ho
      - hr
      - ht
      - hu
      - hy
      - hz
      - ia
      - id
      - ie
      - ig
      - ii
      - ik
      - io
      - is
      - it
      - iu
      - ja
      - jv
      - ka
      - kg
      - ki
      - kj
      - kk
      - kl
      - km
      - kn
      - ko
      - kr
      - ks
      - ku
      - kv
      - kw
      - ky
      - la
      - lb
      - lg
      - li
      - ln
      - lo
      - lt
      - lu
      - lv
      - mg
      - mh
      - mi
      - mk
      - ml
      - mn
      - mo
      - mr
      - ms
      - mt
      - my
      - na
      - nb
      - nd
      - ne
      - ng
      - nl
      - nn
      - 'no'
      - nr
      - nv
      - ny
      - oc
      - oj
      - om
      - or
      - os
      - pa
      - pi
      - pl
      - ps
      - pt
      - qu
      - rm
      - rn
      - ro
      - ru
      - rw
      - sa
      - sc
      - sd
      - se
      - sg
      - si
      - sk
      - sl
      - sm
      - sn
      - so
      - sq
      - sr
      - ss
      - st
      - su
      - sv
      - sw
      - ta
      - te
      - tg
      - th
      - ti
      - tk
      - tl
      - tn
      - to
      - tr
      - ts
      - tt
      - tw
      - ty
      - ug
      - uk
      - ur
      - uz
      - ve
      - vi
      - vo
      - wa
      - wo
      - xh
      - yi
      - yo
      - za
      - zh
      - zu
    StartBrowserUseTaskParams:
      type: object
      properties:
        task:
          type: string
        version:
          $ref: '#/components/schemas/BrowserUseVersion'
        llm:
          $ref: '#/components/schemas/BrowserUseLlm'
        sessionId:
          type: string
        validateOutput:
          type: boolean
          default: false
        useVision:
          type: boolean
          default: true
        useVisionForPlanner:
          type: boolean
          default: false
        maxActionsPerStep:
          type: number
          default: 10
        maxInputTokens:
          type: number
          default: 128000
        plannerLlm:
          $ref: '#/components/schemas/BrowserUseLlm'
        pageExtractionLlm:
          $ref: '#/components/schemas/BrowserUseLlm'
        plannerInterval:
          type: number
          default: 10
        maxSteps:
          type: number
          default: 20
        maxFailures:
          type: number
          default: 3
        initialActions:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
              additionalProperties: true
        sensitiveData:
          type: object
          additionalProperties:
            type: string
        messageContext:
          type: string
        keepBrowserOpen:
          type: boolean
          default: false
        sessionOptions:
          $ref: '#/components/schemas/CreateSessionParams'
        useCustomApiKeys:
          type: boolean
          default: false
        apiKeys:
          type: object
          properties:
            openai:
              type: string
            anthropic:
              type: string
            google:
              type: string
      required:
      - task
      default:
        task: go to example.com
    StartClaudeComputerUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
    GeminiComputerUseLlm:
      type: string
      enum:
      - gemini-3-flash-preview
      - gemini-2.5-computer-use-preview-10-2025
      default: gemini-3-flash-preview
    HyperAgentLlm:
      type: string
      enum:
      - gpt-5.2
      - gpt-5.1
      - gpt-5
      - gpt-5-mini
      - gpt-4o
      - gpt-4o-mini
      - gpt-4.1
      - gpt-4.1-mini
      - claude-sonnet-4-6
      - claude-sonnet-4-5
      - gemini-2.5-flash
      - gemini-3-flash-preview
      default: gpt-4o
    CreateSessionParams:
      type: object
      properties:
        useUltraStealth:
          type: boolean
          default: false
        useStealth:
          type: boolean
          default: false
        useProxy:
          type: boolean
          default: false
        proxyServer:
          type: string
        proxyServerPassword:
          type: string
        proxyServerUsername:
          type: string
        proxyCountry:
          $ref: '#/components/schemas/ProxyCountry'
        proxyState:
          $ref: '#/components/schemas/ProxyState'
        proxyCity:
          type: string
          example: new york
          nullable: true
          description: Desired Country. Is mutually exclusive with proxyState. Some cities might not be supported, so before using a new city, we recommend trying it out
        region:
          $ref: '#/components/schemas/SessionRegion'
        operatingSystems:
          type: array
          items:
            $ref: '#/components/schemas/OperatingSystem'
        device:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        platform:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        locales:
          type: array
          items:
            $ref: '#/components/schemas/ISO639_1'
          default:
          - en
        screen:
          $ref: '#/components/schemas/ScreenConfig'
        solveCaptchas:
          type: boolean
          default: false
        solverType:
          type: string
          enum:
          - visual
          description: Optional CAPTCHA solver mode. Set to visual to use the visual reCAPTCHA solver.
        adblock:
          type: boolean
          default: false
        trackers:
          type: boolean
          default: false
        annoyances:
          type: boolean
          default: false
        enableWebRecording:
          type: boolean
        enableVideoWebRecording:
          type: boolean
          default: false
          description: enableWebRecording must also be true for this to work
        profile:
          $ref: '#/components/schemas/CreateSessionProfile'
        acceptCookies:
          type: boolean
        staticIpId:
          type: string
          format: uuid
        saveDownloads:
          type: boolean
          default: false
        extensionIds:
          type: array
          items:
            type: string
            format: uuid
            nullable: false
          default: []
        urlBlocklist:
          type: array
          items:
            type: string
            nullable: false
          default: []
        browserArgs:
          type: array
          items:
            type: string
            nullable: false
          default: []
        imageCaptchaParams:
          type: array
          items:
            type: object
            properties:
              imageSelector:
                type: string
              inputSelector:
                type: string
          nullable: true
        timeoutMinutes:
          type: number
          minimum: 1
          maximum: 720
        enableWindowManager:
          type: boolean
          default: false
        enableWindowManagerTaskbar:
          type: boolean
          default: false
        viewOnlyLiveView:
          type: boolean
          default: false
        disablePasswordManager:
          type: boolean
          default: false
        enableAlwaysOpenPdfExternally:
          type: boolean
          default: false
        disablePostQuantumKeyAgreement:
          type: boolean
          default: false
      default:
        useStealth: false
        useProxy: false
        acceptCookies: false
    JobStatusResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/JobStatus'
      required:
      - status
    BasicResponse:
      type: object
      properties:
        success:
          type: boolean
    Platform:
      type: string
      enum:
      - chrome
      - firefox
      - safari
      - edge
    OperatingSystem:
      type: string
      enum:
      - windows
      - android
      - macos
      - linux
      - ios
    HyperAgentVersion:
      type: string
      enum:
      - 0.8.0
      - 1.1.0
      default: 0.8.0
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
    ClaudeComputerUseTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        data:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
            finalResult:
              type: string
              nullable: true
        error:
          type: string
          nullable: true
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
      - status
    StartHyperAgentTaskResponse:
      type: object
      properties:
        jobId:
          type: string
        liveUrl:
          type: string
          nullable: true
      required:
      - jobId
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Account API key from app.hyperbrowser.ai
