{
  "openapi": "3.0.1",
  "info": {
    "title": "Hyperbrowser API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperbrowser.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "ScreenConfig": {
        "type": "object",
        "properties": {
          "width": {
            "type": "number",
            "default": 1280
          },
          "height": {
            "type": "number",
            "default": 720
          }
        }
      },
      "SessionLaunchState": {
        "type": "object",
        "properties": {
          "useUltraStealth": {
            "type": "boolean"
          },
          "useStealth": {
            "type": "boolean"
          },
          "useProxy": {
            "type": "boolean"
          },
          "solveCaptchas": {
            "type": "boolean"
          },
          "solverType": {
            "type": "string",
            "enum": [
              "visual"
            ],
            "description": "Optional CAPTCHA solver mode. Set to visual to use the visual reCAPTCHA solver."
          },
          "adblock": {
            "type": "boolean"
          },
          "trackers": {
            "type": "boolean"
          },
          "annoyances": {
            "type": "boolean"
          },
          "screen": {
            "$ref": "#/components/schemas/ScreenConfig"
          },
          "enableWebRecording": {
            "type": "boolean"
          },
          "enableVideoWebRecording": {
            "type": "boolean"
          },
          "enableLogCapture": {
            "type": "boolean"
          },
          "acceptCookies": {
            "type": "boolean"
          },
          "profile": {
            "$ref": "#/components/schemas/CreateSessionProfile"
          },
          "staticIpId": {
            "type": "string"
          },
          "saveDownloads": {
            "type": "boolean"
          },
          "enableWindowManager": {
            "type": "boolean"
          },
          "enableWindowManagerTaskbar": {
            "type": "boolean"
          },
          "viewOnlyLiveView": {
            "type": "boolean"
          },
          "disablePasswordManager": {
            "type": "boolean"
          },
          "enableAlwaysOpenPdfExternally": {
            "type": "boolean"
          },
          "disablePostQuantumKeyAgreement": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "teamId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "closed",
              "error"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "timestamp-milliseconds",
            "nullable": true
          },
          "endTime": {
            "type": "string",
            "format": "timestamp-milliseconds",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "iso8601"
          },
          "updatedAt": {
            "type": "string",
            "format": "iso8601"
          },
          "launchState": {
            "$ref": "#/components/schemas/SessionLaunchState"
          },
          "creditsUsed": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "SessionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Session"
          },
          {
            "type": "object",
            "properties": {
              "sessionUrl": {
                "type": "string"
              },
              "liveUrl": {
                "type": "string"
              },
              "token": {
                "type": "string"
              },
              "wsEndpoint": {
                "type": "string"
              },
              "webdriverEndpoint": {
                "type": "string"
              },
              "computerActionEndpoint": {
                "type": "string"
              }
            }
          }
        ]
      },
      "BasicResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "UpdateSessionProfileParams": {
        "type": "object",
        "properties": {
          "persistChanges": {
            "type": "boolean",
            "description": "Whether profile changes should be persisted after the session ends."
          },
          "persistNetworkCache": {
            "type": "boolean",
            "description": "Whether network cache should be persisted into the profile."
          }
        }
      },
      "UpdateSessionProfileRequest": {
        "type": "object",
        "required": [
          "type",
          "params"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/UpdateSessionProfileParams"
          }
        }
      },
      "UpdateSessionProxyLocationParams": {
        "type": "object",
        "properties": {
          "country": {
            "$ref": "#/components/schemas/ProxyCountry"
          },
          "state": {
            "$ref": "#/components/schemas/ProxyState"
          },
          "city": {
            "type": "string",
            "description": "City for managed proxy geolocation."
          }
        }
      },
      "UpdateSessionProxyParams": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether proxying should be active for the running session."
          },
          "staticIpId": {
            "type": "string",
            "format": "uuid",
            "description": "Static IP allocation to use when enabling a static IP proxy."
          },
          "location": {
            "$ref": "#/components/schemas/UpdateSessionProxyLocationParams"
          }
        }
      },
      "UpdateSessionProxyRequest": {
        "type": "object",
        "required": [
          "type",
          "params"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "proxy"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/UpdateSessionProxyParams"
          }
        }
      },
      "UpdateSessionScreenParams": {
        "type": "object",
        "required": [
          "width",
          "height"
        ],
        "properties": {
          "width": {
            "type": "integer",
            "minimum": 500,
            "maximum": 3840
          },
          "height": {
            "type": "integer",
            "minimum": 360,
            "maximum": 2160
          }
        }
      },
      "UpdateSessionScreenRequest": {
        "type": "object",
        "required": [
          "type",
          "params"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "screen"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/UpdateSessionScreenParams"
          }
        }
      },
      "UpdateSessionSolveCaptchasParams": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether automatic CAPTCHA solving should be enabled for this running session."
          },
          "solverType": {
            "type": "string",
            "enum": [
              "visual"
            ],
            "description": "Optional CAPTCHA solver mode. Set to visual to use the visual reCAPTCHA solver."
          }
        }
      },
      "UpdateSessionSolveCaptchasRequest": {
        "type": "object",
        "required": [
          "type",
          "params"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "solveCaptchas"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/UpdateSessionSolveCaptchasParams"
          }
        }
      },
      "UpdateSessionRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/UpdateSessionProfileRequest"
          },
          {
            "$ref": "#/components/schemas/UpdateSessionProxyRequest"
          },
          {
            "$ref": "#/components/schemas/UpdateSessionScreenRequest"
          },
          {
            "$ref": "#/components/schemas/UpdateSessionSolveCaptchasRequest"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "profile": "#/components/schemas/UpdateSessionProfileRequest",
            "proxy": "#/components/schemas/UpdateSessionProxyRequest",
            "screen": "#/components/schemas/UpdateSessionScreenRequest",
            "solveCaptchas": "#/components/schemas/UpdateSessionSolveCaptchasRequest"
          }
        }
      },
      "UpdateSessionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicResponse"
          },
          {
            "type": "object",
            "properties": {
              "solveCaptchas": {
                "type": "boolean",
                "description": "Returned for solveCaptchas updates."
              },
              "sessionId": {
                "type": "string",
                "description": "Returned for solveCaptchas updates."
              },
              "telemetryReady": {
                "type": "boolean",
                "description": "Returned for solveCaptchas updates."
              }
            }
          }
        ]
      },
      "UpdateSessionSolveCaptchasResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicResponse"
          },
          {
            "type": "object",
            "properties": {
              "solveCaptchas": {
                "type": "boolean"
              },
              "sessionId": {
                "type": "string"
              },
              "telemetryReady": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "CaptchaEvaluationType": {
        "type": "string",
        "enum": [
          "turnstile",
          "cloudflare-challenge",
          "aliexpress",
          "recaptcha",
          "amazon"
        ],
        "description": "CAPTCHA target to evaluate manually."
      },
      "ImageCaptchaParam": {
        "type": "object",
        "properties": {
          "imageSelector": {
            "type": "string"
          },
          "inputSelector": {
            "type": "string"
          }
        }
      },
      "CaptchaEvaluationParams": {
        "type": "object",
        "properties": {
          "captcha": {
            "$ref": "#/components/schemas/CaptchaEvaluationType"
          },
          "captchaType": {
            "$ref": "#/components/schemas/CaptchaEvaluationType"
          },
          "text": {
            "$ref": "#/components/schemas/CaptchaEvaluationType"
          },
          "iterations": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "maxIterations": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "solverType": {
            "type": "string",
            "enum": [
              "visual"
            ],
            "description": "Optional CAPTCHA solver mode. Set to visual to use the visual reCAPTCHA solver."
          },
          "imageCaptchaParams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageCaptchaParam"
            }
          },
          "useUltraStealth": {
            "type": "boolean"
          }
        }
      },
      "CaptchaEvaluationPageResult": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "targetId": {
            "type": "string",
            "nullable": true
          },
          "iterationsRun": {
            "type": "integer"
          },
          "solved": {
            "type": "boolean"
          },
          "solvedCaptchas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptchaEvaluationType"
            }
          },
          "checkedCaptchas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptchaEvaluationType"
            }
          },
          "captchaSolvedCounts": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "lastSolveTime": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "CaptchaEvaluationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "captcha": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CaptchaEvaluationType"
              }
            ],
            "nullable": true
          },
          "iterationsRequested": {
            "type": "integer"
          },
          "iterationsRun": {
            "type": "integer"
          },
          "solved": {
            "type": "boolean"
          },
          "solvedCaptchas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptchaEvaluationType"
            }
          },
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptchaEvaluationPageResult"
            }
          }
        }
      },
      "CreateProfileParams": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "CreateProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "teamId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "iso8601"
          },
          "updatedAt": {
            "type": "string",
            "format": "iso8601"
          }
        }
      },
      "ProfileListResponse": {
        "type": "object",
        "properties": {
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileResponse"
            }
          },
          "totalCount": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "perPage": {
            "type": "number"
          }
        }
      },
      "ProxyCountry": {
        "type": "string",
        "enum": [
          "AD",
          "AE",
          "AF",
          "AL",
          "AM",
          "AO",
          "AR",
          "AT",
          "AU",
          "AW",
          "AZ",
          "BA",
          "BD",
          "BE",
          "BG",
          "BH",
          "BJ",
          "BO",
          "BR",
          "BS",
          "BT",
          "BY",
          "BZ",
          "CA",
          "CF",
          "CH",
          "CI",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "EC",
          "EE",
          "EG",
          "ES",
          "ET",
          "EU",
          "FI",
          "FJ",
          "FR",
          "GB",
          "GE",
          "GH",
          "GM",
          "GR",
          "HK",
          "HN",
          "HR",
          "HT",
          "HU",
          "ID",
          "IE",
          "IL",
          "IN",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JM",
          "JO",
          "JP",
          "KE",
          "KH",
          "KR",
          "KW",
          "KZ",
          "LB",
          "LI",
          "LR",
          "LT",
          "LU",
          "LV",
          "MA",
          "MC",
          "MD",
          "ME",
          "MG",
          "MK",
          "ML",
          "MM",
          "MN",
          "MR",
          "MT",
          "MU",
          "MV",
          "MX",
          "MY",
          "MZ",
          "NG",
          "NL",
          "NO",
          "NZ",
          "OM",
          "PA",
          "PE",
          "PH",
          "PK",
          "PL",
          "PR",
          "PT",
          "PY",
          "QA",
          "RANDOM_COUNTRY",
          "RO",
          "RS",
          "RU",
          "SA",
          "SC",
          "SD",
          "SE",
          "SG",
          "SI",
          "SK",
          "SN",
          "SS",
          "TD",
          "TG",
          "TH",
          "TM",
          "TN",
          "TR",
          "TT",
          "TW",
          "UA",
          "UG",
          "US",
          "UY",
          "UZ",
          "VE",
          "VG",
          "VN",
          "YE",
          "ZA",
          "ZM",
          "ZW",
          "ad",
          "ae",
          "af",
          "al",
          "am",
          "ao",
          "ar",
          "at",
          "au",
          "aw",
          "az",
          "ba",
          "bd",
          "be",
          "bg",
          "bh",
          "bj",
          "bo",
          "br",
          "bs",
          "bt",
          "by",
          "bz",
          "ca",
          "cf",
          "ch",
          "ci",
          "cl",
          "cm",
          "cn",
          "co",
          "cr",
          "cu",
          "cy",
          "cz",
          "de",
          "dj",
          "dk",
          "dm",
          "ec",
          "ee",
          "eg",
          "es",
          "et",
          "eu",
          "fi",
          "fj",
          "fr",
          "gb",
          "ge",
          "gh",
          "gm",
          "gr",
          "hk",
          "hn",
          "hr",
          "ht",
          "hu",
          "id",
          "ie",
          "il",
          "in",
          "iq",
          "ir",
          "is",
          "it",
          "jm",
          "jo",
          "jp",
          "ke",
          "kh",
          "kr",
          "kw",
          "kz",
          "lb",
          "li",
          "lr",
          "lt",
          "lu",
          "lv",
          "ma",
          "mc",
          "md",
          "me",
          "mg",
          "mk",
          "ml",
          "mm",
          "mn",
          "mr",
          "mt",
          "mu",
          "mv",
          "mx",
          "my",
          "mz",
          "ng",
          "nl",
          "no",
          "nz",
          "om",
          "pa",
          "pe",
          "ph",
          "pk",
          "pl",
          "pr",
          "pt",
          "py",
          "qa",
          "ro",
          "rs",
          "ru",
          "sa",
          "sc",
          "sd",
          "se",
          "sg",
          "si",
          "sk",
          "sn",
          "ss",
          "td",
          "tg",
          "th",
          "tm",
          "tn",
          "tr",
          "tt",
          "tw",
          "ua",
          "ug",
          "us",
          "uy",
          "uz",
          "ve",
          "vg",
          "vn",
          "ye",
          "za",
          "zm",
          "zw"
        ]
      },
      "OperatingSystem": {
        "type": "string",
        "enum": [
          "windows",
          "android",
          "macos",
          "linux",
          "ios"
        ]
      },
      "Platform": {
        "type": "string",
        "enum": [
          "chrome",
          "firefox",
          "safari",
          "edge"
        ]
      },
      "Device": {
        "type": "string",
        "enum": [
          "desktop",
          "mobile"
        ]
      },
      "ISO639_1": {
        "type": "string",
        "enum": [
          "aa",
          "ab",
          "ae",
          "af",
          "ak",
          "am",
          "an",
          "ar",
          "as",
          "av",
          "ay",
          "az",
          "ba",
          "be",
          "bg",
          "bh",
          "bi",
          "bm",
          "bn",
          "bo",
          "br",
          "bs",
          "ca",
          "ce",
          "ch",
          "co",
          "cr",
          "cs",
          "cu",
          "cv",
          "cy",
          "da",
          "de",
          "dv",
          "dz",
          "ee",
          "el",
          "en",
          "eo",
          "es",
          "et",
          "eu",
          "fa",
          "ff",
          "fi",
          "fj",
          "fo",
          "fr",
          "fy",
          "ga",
          "gd",
          "gl",
          "gn",
          "gu",
          "gv",
          "ha",
          "he",
          "hi",
          "ho",
          "hr",
          "ht",
          "hu",
          "hy",
          "hz",
          "ia",
          "id",
          "ie",
          "ig",
          "ii",
          "ik",
          "io",
          "is",
          "it",
          "iu",
          "ja",
          "jv",
          "ka",
          "kg",
          "ki",
          "kj",
          "kk",
          "kl",
          "km",
          "kn",
          "ko",
          "kr",
          "ks",
          "ku",
          "kv",
          "kw",
          "ky",
          "la",
          "lb",
          "lg",
          "li",
          "ln",
          "lo",
          "lt",
          "lu",
          "lv",
          "mg",
          "mh",
          "mi",
          "mk",
          "ml",
          "mn",
          "mo",
          "mr",
          "ms",
          "mt",
          "my",
          "na",
          "nb",
          "nd",
          "ne",
          "ng",
          "nl",
          "nn",
          "no",
          "nr",
          "nv",
          "ny",
          "oc",
          "oj",
          "om",
          "or",
          "os",
          "pa",
          "pi",
          "pl",
          "ps",
          "pt",
          "qu",
          "rm",
          "rn",
          "ro",
          "ru",
          "rw",
          "sa",
          "sc",
          "sd",
          "se",
          "sg",
          "si",
          "sk",
          "sl",
          "sm",
          "sn",
          "so",
          "sq",
          "sr",
          "ss",
          "st",
          "su",
          "sv",
          "sw",
          "ta",
          "te",
          "tg",
          "th",
          "ti",
          "tk",
          "tl",
          "tn",
          "to",
          "tr",
          "ts",
          "tt",
          "tw",
          "ty",
          "ug",
          "uk",
          "ur",
          "uz",
          "ve",
          "vi",
          "vo",
          "wa",
          "wo",
          "xh",
          "yi",
          "yo",
          "za",
          "zh",
          "zu"
        ]
      },
      "ProxyState": {
        "type": "string",
        "enum": [
          "AL",
          "AK",
          "AZ",
          "AR",
          "CA",
          "CO",
          "CT",
          "DE",
          "FL",
          "GA",
          "HI",
          "ID",
          "IL",
          "IN",
          "IA",
          "KS",
          "KY",
          "LA",
          "ME",
          "MD",
          "MA",
          "MI",
          "MN",
          "MS",
          "MO",
          "MT",
          "NE",
          "NV",
          "NH",
          "NJ",
          "NM",
          "NY",
          "NC",
          "ND",
          "OH",
          "OK",
          "OR",
          "PA",
          "RI",
          "SC",
          "SD",
          "TN",
          "TX",
          "UT",
          "VT",
          "VA",
          "WA",
          "WV",
          "WI",
          "WY",
          "al",
          "ak",
          "az",
          "ar",
          "ca",
          "co",
          "ct",
          "de",
          "fl",
          "ga",
          "hi",
          "id",
          "il",
          "in",
          "ia",
          "ks",
          "ky",
          "la",
          "me",
          "md",
          "ma",
          "mi",
          "mn",
          "ms",
          "mo",
          "mt",
          "ne",
          "nv",
          "nh",
          "nj",
          "nm",
          "ny",
          "nc",
          "nd",
          "oh",
          "ok",
          "or",
          "pa",
          "ri",
          "sc",
          "sd",
          "tn",
          "tx",
          "ut",
          "vt",
          "va",
          "wa",
          "wv",
          "wi",
          "wy"
        ],
        "nullable": true,
        "description": "Optional state code for proxies to US states. Is mutually exclusive with proxyCity. Takes in two letter state code."
      },
      "SessionRegion": {
        "type": "string",
        "enum": [
          "us-central",
          "us-west",
          "us-east",
          "asia-south",
          "europe-west"
        ]
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "pending",
          "running",
          "completed",
          "failed",
          "stopped"
        ]
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          }
        },
        "required": [
          "status"
        ]
      },
      "RecordingStatus": {
        "type": "string",
        "enum": [
          "not_enabled",
          "pending",
          "in_progress",
          "completed",
          "failed"
        ]
      },
      "DownloadsStatus": {
        "type": "string",
        "enum": [
          "not_enabled",
          "pending",
          "in_progress",
          "completed",
          "failed"
        ]
      },
      "CrawledPage": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "markdown": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot": {
            "type": "string"
          }
        },
        "required": [
          "url",
          "status"
        ]
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "html",
                "links",
                "markdown",
                "screenshot"
              ]
            },
            "default": [
              "markdown"
            ]
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "onlyMainContent": {
            "type": "boolean",
            "default": true
          },
          "waitFor": {
            "type": "number",
            "default": 0
          },
          "timeout": {
            "type": "number",
            "default": 30000
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle"
            ],
            "default": "load"
          },
          "screenshotOptions": {
            "type": "object",
            "description": "Options for the screenshot. Both `fullPage` and `cropToContent` cannot be true at the same time.",
            "properties": {
              "fullPage": {
                "type": "boolean",
                "default": false
              },
              "format": {
                "type": "string",
                "enum": [
                  "jpeg",
                  "png",
                  "webp"
                ],
                "default": "webp"
              },
              "cropToContent": {
                "type": "boolean",
                "default": false,
                "description": "Automatically adjusts the screenshot height to match the page's actual content. If the page is shorter than the viewport, the screenshot is trimmed to remove any empty space below the content. If the page is taller than the viewport, the screenshot is cropped to the height of the viewport."
              },
              "cropToContentMaxHeight": {
                "type": "number",
                "description": "The maximum height of the screenshot when `cropToContent` is true. Overrides the height set in the `screen` configuration."
              },
              "cropToContentMinHeight": {
                "type": "number",
                "description": "The minimum height of the screenshot when `cropToContent` is true. Overrides the height set in the `screen` configuration."
              }
            }
          },
          "storageState": {
            "type": "object",
            "properties": {
              "localStorage": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "sessionStorage": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateSessionProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "persistChanges": {
            "type": "boolean"
          },
          "persistNetworkCache": {
            "type": "boolean",
            "description": "When persisting profile changes, also persist the browser's network cache (HTTP cache)."
          }
        }
      },
      "CreateSessionParams": {
        "type": "object",
        "properties": {
          "useUltraStealth": {
            "type": "boolean",
            "default": false
          },
          "useStealth": {
            "type": "boolean",
            "default": false
          },
          "useProxy": {
            "type": "boolean",
            "default": false
          },
          "proxyServer": {
            "type": "string"
          },
          "proxyServerPassword": {
            "type": "string"
          },
          "proxyServerUsername": {
            "type": "string"
          },
          "proxyCountry": {
            "$ref": "#/components/schemas/ProxyCountry"
          },
          "proxyState": {
            "$ref": "#/components/schemas/ProxyState"
          },
          "proxyCity": {
            "type": "string",
            "example": "new york",
            "nullable": true,
            "description": "Desired Country. Is mutually exclusive with proxyState. Some cities might not be supported, so before using a new city, we recommend trying it out"
          },
          "region": {
            "$ref": "#/components/schemas/SessionRegion"
          },
          "operatingSystems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatingSystem"
            }
          },
          "device": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          },
          "platform": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Platform"
            }
          },
          "locales": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISO639_1"
            },
            "default": [
              "en"
            ]
          },
          "screen": {
            "$ref": "#/components/schemas/ScreenConfig"
          },
          "solveCaptchas": {
            "type": "boolean",
            "default": false
          },
          "solverType": {
            "type": "string",
            "enum": [
              "visual"
            ],
            "description": "Optional CAPTCHA solver mode. Set to visual to use the visual reCAPTCHA solver."
          },
          "adblock": {
            "type": "boolean",
            "default": false
          },
          "trackers": {
            "type": "boolean",
            "default": false
          },
          "annoyances": {
            "type": "boolean",
            "default": false
          },
          "enableWebRecording": {
            "type": "boolean"
          },
          "enableVideoWebRecording": {
            "type": "boolean",
            "default": false,
            "description": "enableWebRecording must also be true for this to work"
          },
          "profile": {
            "$ref": "#/components/schemas/CreateSessionProfile"
          },
          "acceptCookies": {
            "type": "boolean"
          },
          "staticIpId": {
            "type": "string",
            "format": "uuid"
          },
          "saveDownloads": {
            "type": "boolean",
            "default": false
          },
          "extensionIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "nullable": false
            },
            "default": []
          },
          "urlBlocklist": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false
            },
            "default": []
          },
          "browserArgs": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false
            },
            "default": []
          },
          "imageCaptchaParams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "imageSelector": {
                  "type": "string"
                },
                "inputSelector": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          },
          "timeoutMinutes": {
            "type": "number",
            "minimum": 1,
            "maximum": 720
          },
          "enableWindowManager": {
            "type": "boolean",
            "default": false
          },
          "enableWindowManagerTaskbar": {
            "type": "boolean",
            "default": false
          },
          "viewOnlyLiveView": {
            "type": "boolean",
            "default": false
          },
          "disablePasswordManager": {
            "type": "boolean",
            "default": false
          },
          "enableAlwaysOpenPdfExternally": {
            "type": "boolean",
            "default": false
          },
          "disablePostQuantumKeyAgreement": {
            "type": "boolean",
            "default": false
          }
        },
        "default": {
          "useStealth": false,
          "useProxy": false,
          "acceptCookies": false
        }
      },
      "GetSessionRecordingUrlResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/RecordingStatus"
          },
          "recordingUrl": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "status"
        ]
      },
      "GetSessionVideoRecordingUrlResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/RecordingStatus"
          },
          "recordingUrl": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "status"
        ]
      },
      "GetSessionDownloadsUrlResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/DownloadsStatus"
          },
          "downloadsUrl": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "status"
        ]
      },
      "StartScrapeJobParams": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "scrapeOptions": {
            "$ref": "#/components/schemas/ScrapeOptions"
          }
        }
      },
      "StartScrapeJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      },
      "ScrapeJobData": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "markdown": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot": {
            "type": "string"
          }
        }
      },
      "ScrapeJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "$ref": "#/components/schemas/ScrapeJobData"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "StartBatchScrapeJobParams": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "scrapeOptions": {
            "$ref": "#/components/schemas/ScrapeOptions"
          }
        },
        "required": [
          "urls"
        ]
      },
      "ScrapedPage": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "markdown": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot": {
            "type": "string"
          }
        },
        "required": [
          "url",
          "status"
        ]
      },
      "GetBatchScrapeJobParams": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "batchSize": {
            "type": "number"
          }
        }
      },
      "StartBatchScrapeJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "jobId"
        ]
      },
      "BatchScrapeJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScrapedPage"
            }
          },
          "error": {
            "type": "string"
          },
          "totalScrapedPages": {
            "type": "number"
          },
          "totalPageBatches": {
            "type": "number"
          },
          "currentPageBatch": {
            "type": "number"
          },
          "batchSize": {
            "type": "number"
          }
        }
      },
      "StartExtractJobParams": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "systemPrompt": {
            "type": "string"
          },
          "maxLinks": {
            "type": "number"
          },
          "prompt": {
            "type": "string"
          },
          "schema": {
            "type": "object"
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "waitFor": {
            "default": 0,
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "urls"
        ]
      },
      "StartExtractJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "jobId"
        ]
      },
      "ExtractJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "jobId",
          "status"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "CreateExtensionParams": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "file"
        ]
      },
      "ExtensionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "iso8601"
          },
          "updatedAt": {
            "type": "string",
            "format": "iso8601"
          }
        }
      },
      "HyperAgentVersion": {
        "type": "string",
        "enum": [
          "0.8.0",
          "1.1.0"
        ],
        "default": "0.8.0"
      },
      "HyperAgentLlm": {
        "type": "string",
        "enum": [
          "gpt-5.2",
          "gpt-5.1",
          "gpt-5",
          "gpt-5-mini",
          "gpt-4o",
          "gpt-4o-mini",
          "gpt-4.1",
          "gpt-4.1-mini",
          "claude-sonnet-4-6",
          "claude-sonnet-4-5",
          "gemini-2.5-flash",
          "gemini-3-flash-preview"
        ],
        "default": "gpt-4o"
      },
      "StartHyperAgentTaskParams": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string"
          },
          "version": {
            "$ref": "#/components/schemas/HyperAgentVersion"
          },
          "llm": {
            "$ref": "#/components/schemas/HyperAgentLlm"
          },
          "sessionId": {
            "type": "string"
          },
          "maxSteps": {
            "type": "number",
            "default": 20
          },
          "keepBrowserOpen": {
            "type": "boolean",
            "default": false
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "useCustomApiKeys": {
            "type": "boolean",
            "default": false
          },
          "apiKeys": {
            "type": "object",
            "properties": {
              "openai": {
                "type": "string"
              },
              "anthropic": {
                "type": "string"
              },
              "google": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "task"
        ],
        "default": {
          "task": "go to example.com"
        }
      },
      "StartHyperAgentTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId"
        ]
      },
      "HyperAgentTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "finalResult": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "BrowserUseVersion": {
        "type": "string",
        "enum": [
          "0.1.40",
          "0.7.10",
          "latest"
        ],
        "default": "0.1.40"
      },
      "BrowserUseLlm": {
        "type": "string",
        "enum": [
          "gpt-4o",
          "gpt-4o-mini",
          "gpt-4.1",
          "gpt-4.1-mini",
          "claude-sonnet-4-6",
          "claude-sonnet-4-5",
          "claude-sonnet-4-20250514",
          "gemini-2.0-flash",
          "gemini-2.5-flash"
        ],
        "default": "gemini-2.0-flash"
      },
      "StartBrowserUseTaskParams": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string"
          },
          "version": {
            "$ref": "#/components/schemas/BrowserUseVersion"
          },
          "llm": {
            "$ref": "#/components/schemas/BrowserUseLlm"
          },
          "sessionId": {
            "type": "string"
          },
          "validateOutput": {
            "type": "boolean",
            "default": false
          },
          "useVision": {
            "type": "boolean",
            "default": true
          },
          "useVisionForPlanner": {
            "type": "boolean",
            "default": false
          },
          "maxActionsPerStep": {
            "type": "number",
            "default": 10
          },
          "maxInputTokens": {
            "type": "number",
            "default": 128000
          },
          "plannerLlm": {
            "$ref": "#/components/schemas/BrowserUseLlm"
          },
          "pageExtractionLlm": {
            "$ref": "#/components/schemas/BrowserUseLlm"
          },
          "plannerInterval": {
            "type": "number",
            "default": 10
          },
          "maxSteps": {
            "type": "number",
            "default": 20
          },
          "maxFailures": {
            "type": "number",
            "default": 3
          },
          "initialActions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "sensitiveData": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "messageContext": {
            "type": "string"
          },
          "keepBrowserOpen": {
            "type": "boolean",
            "default": false
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "useCustomApiKeys": {
            "type": "boolean",
            "default": false
          },
          "apiKeys": {
            "type": "object",
            "properties": {
              "openai": {
                "type": "string"
              },
              "anthropic": {
                "type": "string"
              },
              "google": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "task"
        ],
        "default": {
          "task": "go to example.com"
        }
      },
      "StartBrowserUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId"
        ]
      },
      "BrowserUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "finalResult": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "ClaudeComputerUseLlm": {
        "type": "string",
        "enum": [
          "claude-opus-4-5",
          "claude-opus-4-6",
          "claude-haiku-4-5-20251001",
          "claude-sonnet-4-6",
          "claude-sonnet-4-5",
          "claude-sonnet-4-20250514"
        ],
        "default": "claude-sonnet-4-5"
      },
      "StartClaudeComputerUseTaskParams": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string"
          },
          "llm": {
            "$ref": "#/components/schemas/ClaudeComputerUseLlm"
          },
          "sessionId": {
            "type": "string"
          },
          "maxFailures": {
            "type": "number",
            "default": 3
          },
          "maxSteps": {
            "type": "number",
            "default": 20
          },
          "keepBrowserOpen": {
            "type": "boolean",
            "default": false
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "useCustomApiKeys": {
            "type": "boolean",
            "default": false
          },
          "apiKeys": {
            "type": "object",
            "properties": {
              "anthropic": {
                "type": "string"
              }
            }
          },
          "useComputerAction": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "task"
        ],
        "default": {
          "task": "go to example.com"
        }
      },
      "StartClaudeComputerUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId"
        ]
      },
      "ClaudeComputerUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "finalResult": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "GeminiComputerUseLlm": {
        "type": "string",
        "enum": [
          "gemini-3-flash-preview",
          "gemini-2.5-computer-use-preview-10-2025"
        ],
        "default": "gemini-3-flash-preview"
      },
      "StartGeminiComputerUseTaskParams": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string"
          },
          "llm": {
            "$ref": "#/components/schemas/GeminiComputerUseLlm"
          },
          "sessionId": {
            "type": "string"
          },
          "maxFailures": {
            "type": "number",
            "default": 3
          },
          "maxSteps": {
            "type": "number",
            "default": 20
          },
          "keepBrowserOpen": {
            "type": "boolean",
            "default": false
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "useCustomApiKeys": {
            "type": "boolean",
            "default": false
          },
          "apiKeys": {
            "type": "object",
            "properties": {
              "google": {
                "type": "string"
              }
            }
          },
          "useComputerAction": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "task"
        ],
        "default": {
          "task": "go to example.com"
        }
      },
      "StartGeminiComputerUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId"
        ]
      },
      "GeminiComputerUseTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "finalResult": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "CuaLlm": {
        "type": "string",
        "enum": [
          "computer-use-preview",
          "gpt-5.4",
          "gpt-5.4-mini"
        ],
        "default": "computer-use-preview"
      },
      "StartCuaTaskParams": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string"
          },
          "llm": {
            "$ref": "#/components/schemas/CuaLlm"
          },
          "sessionId": {
            "type": "string"
          },
          "maxFailures": {
            "type": "number",
            "default": 3
          },
          "maxSteps": {
            "type": "number",
            "default": 20
          },
          "keepBrowserOpen": {
            "type": "boolean",
            "default": false
          },
          "sessionOptions": {
            "$ref": "#/components/schemas/CreateSessionParams"
          },
          "useCustomApiKeys": {
            "type": "boolean",
            "default": false
          },
          "apiKeys": {
            "type": "object",
            "properties": {
              "openai": {
                "type": "string"
              }
            }
          },
          "useComputerAction": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "task"
        ],
        "default": {
          "task": "go to example.com"
        }
      },
      "StartCuaTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId"
        ]
      },
      "CuaTaskResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "finalResult": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "liveUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "FetchStealthMode": {
        "type": "string",
        "enum": [
          "none",
          "auto",
          "ultra"
        ]
      },
      "FetchSanitizeMode": {
        "type": "string",
        "enum": [
          "none",
          "basic",
          "advanced"
        ]
      },
      "FetchStatus": {
        "type": "string",
        "enum": [
          "completed",
          "failed",
          "pending",
          "running"
        ]
      },
      "FetchWaitUntil": {
        "type": "string",
        "enum": [
          "load",
          "domcontentloaded",
          "networkidle"
        ]
      },
      "FetchScreenshotFormat": {
        "type": "string",
        "enum": [
          "jpeg",
          "png",
          "webp"
        ]
      },
      "PageStatus": {
        "type": "string",
        "enum": [
          "completed",
          "failed",
          "pending",
          "running"
        ]
      },
      "WebSearchStatus": {
        "type": "string",
        "enum": [
          "completed",
          "failed",
          "pending",
          "running",
          "stopped"
        ]
      },
      "WebSearchFiletype": {
        "type": "string",
        "enum": [
          "pdf",
          "doc",
          "docx",
          "xls",
          "xlsx",
          "ppt",
          "pptx",
          "html"
        ]
      },
      "FetchOutputScreenshotOptions": {
        "type": "object",
        "properties": {
          "fullPage": {
            "type": "boolean"
          },
          "format": {
            "$ref": "#/components/schemas/FetchScreenshotFormat"
          },
          "cropToContent": {
            "type": "boolean"
          },
          "cropToContentMaxHeight": {
            "type": "integer"
          },
          "cropToContentMinHeight": {
            "type": "integer"
          }
        }
      },
      "FetchStorageStateOptions": {
        "type": "object",
        "properties": {
          "localStorage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sessionStorage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "FetchBrowserLocationOptions": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "FetchOutputMarkdown": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "markdown"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "FetchOutputHtml": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "html"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "FetchOutputLinks": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "links"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "FetchOutputScreenshot": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FetchOutputScreenshotOptions"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "screenshot"
                ]
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "FetchOutputJsonOptions": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "object"
          },
          "prompt": {
            "type": "string",
            "description": "Natural language prompt describing what data to extract. If only prompt is provided, a schema is auto-generated from it. If both prompt and schema are provided, the schema defines the output structure while the prompt provides additional guidance for the extraction."
          }
        }
      },
      "FetchOutputJson": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FetchOutputJsonOptions"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json"
                ]
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "FetchOutputOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/FetchOutputMarkdown"
                },
                {
                  "$ref": "#/components/schemas/FetchOutputHtml"
                },
                {
                  "$ref": "#/components/schemas/FetchOutputLinks"
                },
                {
                  "$ref": "#/components/schemas/FetchOutputScreenshot"
                },
                {
                  "$ref": "#/components/schemas/FetchOutputJson"
                },
                {
                  "$ref": "#/components/schemas/FetchOutputBranding"
                },
                {
                  "type": "string",
                  "enum": [
                    "markdown",
                    "html",
                    "links",
                    "screenshot",
                    "branding"
                  ]
                }
              ]
            }
          },
          "sanitize": {
            "$ref": "#/components/schemas/FetchSanitizeMode"
          },
          "includeSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludeSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "storageState": {
            "$ref": "#/components/schemas/FetchStorageStateOptions"
          }
        }
      },
      "FetchBrowserOptions": {
        "type": "object",
        "properties": {
          "screen": {
            "$ref": "#/components/schemas/ScreenConfig"
          },
          "profileId": {
            "type": "string"
          },
          "solveCaptchas": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/FetchBrowserLocationOptions"
          }
        }
      },
      "FetchNavigationOptions": {
        "type": "object",
        "properties": {
          "waitUntil": {
            "$ref": "#/components/schemas/FetchWaitUntil"
          },
          "timeoutMs": {
            "type": "integer"
          },
          "waitFor": {
            "type": "integer"
          }
        }
      },
      "FetchCacheOptions": {
        "type": "object",
        "properties": {
          "maxAgeSeconds": {
            "type": "integer"
          }
        }
      },
      "FetchParams": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "stealth": {
            "$ref": "#/components/schemas/FetchStealthMode"
          },
          "outputs": {
            "$ref": "#/components/schemas/FetchOutputOptions"
          },
          "browser": {
            "$ref": "#/components/schemas/FetchBrowserOptions"
          },
          "navigation": {
            "$ref": "#/components/schemas/FetchNavigationOptions"
          },
          "cache": {
            "$ref": "#/components/schemas/FetchCacheOptions"
          }
        },
        "required": [
          "url"
        ]
      },
      "FetchResponseData": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "html": {
            "type": "string"
          },
          "markdown": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot": {
            "type": "string"
          },
          "json": {
            "type": "object"
          },
          "branding": {
            "$ref": "#/components/schemas/BrandingProfile"
          }
        }
      },
      "FetchResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/FetchStatus"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/FetchResponseData"
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "WebCrawlOptions": {
        "type": "object",
        "properties": {
          "maxPages": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 10
          },
          "followLinks": {
            "type": "boolean",
            "default": true
          },
          "ignoreSitemap": {
            "type": "boolean",
            "default": false
          },
          "excludePatterns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "includePatterns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StartWebCrawlJobParams": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "stealth": {
            "$ref": "#/components/schemas/FetchStealthMode"
          },
          "outputs": {
            "$ref": "#/components/schemas/FetchOutputOptions"
          },
          "browser": {
            "$ref": "#/components/schemas/FetchBrowserOptions"
          },
          "navigation": {
            "$ref": "#/components/schemas/FetchNavigationOptions"
          },
          "cache": {
            "$ref": "#/components/schemas/FetchCacheOptions"
          },
          "crawlOptions": {
            "$ref": "#/components/schemas/WebCrawlOptions"
          }
        },
        "required": [
          "url"
        ]
      },
      "WebCrawlPageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PageStatus"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "markdown": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot": {
            "type": "string"
          },
          "json": {
            "type": "object"
          },
          "branding": {
            "$ref": "#/components/schemas/BrandingProfile"
          }
        },
        "required": [
          "url",
          "status"
        ]
      },
      "WebCrawlJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "totalPageBatches": {
            "type": "integer",
            "minimum": 0
          },
          "currentPageBatch": {
            "type": "integer",
            "minimum": 0
          },
          "batchSize": {
            "type": "integer",
            "minimum": 1
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebCrawlPageData"
            }
          }
        },
        "required": [
          "status",
          "jobId"
        ]
      },
      "WebSearchFilters": {
        "type": "object",
        "properties": {
          "exactPhrase": {
            "type": "boolean"
          },
          "semanticPhrase": {
            "type": "boolean"
          },
          "excludeTerms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "boostTerms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filetype": {
            "$ref": "#/components/schemas/WebSearchFiletype"
          },
          "site": {
            "type": "string"
          },
          "excludeSite": {
            "type": "string"
          },
          "intitle": {
            "type": "string"
          },
          "inurl": {
            "type": "string"
          }
        }
      },
      "WebSearchLocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        },
        "required": [
          "country"
        ]
      },
      "WebSearchParams": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "maxAgeSeconds": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/WebSearchLocation"
          },
          "filters": {
            "$ref": "#/components/schemas/WebSearchFilters"
          }
        },
        "required": [
          "query"
        ]
      },
      "WebSearchResultItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "url",
          "description"
        ]
      },
      "WebSearchResponseData": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebSearchResultItem"
            }
          }
        },
        "required": [
          "query",
          "results"
        ]
      },
      "WebSearchResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/WebSearchStatus"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/WebSearchResponseData"
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "FetchOutputBranding": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "branding"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "BrandingProfile": {
        "type": "object",
        "description": "Visual brand profile extracted via DOM analysis + LLM enhancement. All fields optional; the server may return a partial profile when the LLM refuses or fails.",
        "properties": {
          "colorScheme": {
            "type": "string",
            "description": "Page color scheme. Common values: light, dark."
          },
          "colors": {
            "type": "object",
            "description": "Color role assignments. Common keys: primary, secondary, accent, background, textPrimary, textSecondary, link."
          },
          "fonts": {
            "type": "array",
            "description": "Cleaned brand fonts with roles.",
            "items": {
              "type": "object",
              "properties": {
                "family": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                }
              }
            }
          },
          "typography": {
            "type": "object",
            "description": "Font families, stacks, and sizes. Keys: fontFamilies, fontStacks, fontSizes, lineHeights, fontWeights."
          },
          "spacing": {
            "type": "object",
            "description": "Spacing scale. Common keys: baseUnit, borderRadius, padding, margins, gridGutter."
          },
          "components": {
            "type": "object",
            "description": "Per-component style dictionaries. Common keys: buttonPrimary, buttonSecondary, input. Each value has background, textColor, borderColor, borderRadius, borderRadiusCorners, shadow."
          },
          "images": {
            "type": "object",
            "description": "Brand images. Common keys: logo, logoHref, logoAlt, favicon, ogImage."
          },
          "personality": {
            "type": "object",
            "description": "Brand personality. Common keys: tone, energy, targetAudience."
          },
          "designSystem": {
            "type": "object",
            "description": "Detected design system. Common keys: framework, componentLibrary."
          },
          "confidence": {
            "type": "object",
            "description": "Confidence scores (0-1). Common keys: buttons, colors, overall."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/api/session": {
      "post": {
        "summary": "Create new session",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Create a session",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.create({\n  useStealth: true\n});"
          },
          {
            "lang": "python",
            "label": "Create a session",
            "source": "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import CreateSessionParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.create(CreateSessionParams(\n  use_stealth=True\n))"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}": {
      "get": {
        "summary": "Get session by ID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Get a session",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.get('session-id');"
          },
          {
            "lang": "python",
            "label": "Get a session",
            "source": "from hyperbrowser import Hyperbrowser\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.get('session-id')"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/stop": {
      "put": {
        "summary": "Stop a session",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Stop a session",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.stop('session-id');"
          },
          {
            "lang": "python",
            "label": "Stop a session",
            "source": "from hyperbrowser import Hyperbrowser\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.stop('session-id')"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/update": {
      "put": {
        "summary": "Update a running session",
        "description": "Update supported settings on an active browser session. Supported update types are profile, proxy, screen, and solveCaptchas.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Start CAPTCHA solving",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.startCaptchaSolving('session-id', {\n  solverType: 'visual'\n});\n\nawait client.sessions.stopCaptchaSolving('session-id');"
          },
          {
            "lang": "python",
            "label": "Start CAPTCHA solving",
            "source": "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import UpdateSessionSolveCaptchasParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.start_captcha_solving(\n  'session-id',\n  UpdateSessionSolveCaptchasParams(solver_type='visual')\n)\n\nclient.sessions.stop_captcha_solving('session-id')"
          },
          {
            "lang": "bash",
            "label": "Start CAPTCHA solving",
            "source": "curl -X PUT \"https://api.hyperbrowser.ai/api/session/$SESSION_ID/update\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $HYPERBROWSER_API_KEY\" \\\n  -d '{\"type\":\"solveCaptchas\",\"params\":{\"enabled\":true,\"solverType\":\"visual\"}}'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              },
              "examples": {
                "profilePersistence": {
                  "summary": "Update profile persistence",
                  "value": {
                    "type": "profile",
                    "params": {
                      "persistChanges": true,
                      "persistNetworkCache": true
                    }
                  }
                },
                "managedProxy": {
                  "summary": "Enable managed proxy",
                  "value": {
                    "type": "proxy",
                    "params": {
                      "enabled": true,
                      "location": {
                        "country": "US",
                        "state": "CA",
                        "city": "San Francisco"
                      }
                    }
                  }
                },
                "screenSize": {
                  "summary": "Resize screen",
                  "value": {
                    "type": "screen",
                    "params": {
                      "width": 1280,
                      "height": 720
                    }
                  }
                },
                "startCaptchaSolving": {
                  "summary": "Start CAPTCHA solving",
                  "value": {
                    "type": "solveCaptchas",
                    "params": {
                      "enabled": true,
                      "solverType": "visual"
                    }
                  }
                },
                "stopCaptchaSolving": {
                  "summary": "Stop CAPTCHA solving",
                  "value": {
                    "type": "solveCaptchas",
                    "params": {
                      "enabled": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid update request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "CAPTCHA evaluation is already running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/captcha/evaluate": {
      "post": {
        "summary": "Run manual CAPTCHA evaluation",
        "description": "Trigger a bounded CAPTCHA evaluation on an active browser session. Supported CAPTCHA targets are turnstile, cloudflare-challenge, aliexpress, recaptcha, and amazon.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Run manual CAPTCHA evaluation",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nconst result = await client.sessions.evaluateCaptcha('session-id', {\n  captchaType: 'recaptcha',\n  iterations: 2\n});"
          },
          {
            "lang": "python",
            "label": "Run manual CAPTCHA evaluation",
            "source": "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import CaptchaEvaluationParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nresult = client.sessions.evaluate_captcha(\n  'session-id',\n  CaptchaEvaluationParams(\n    captcha_type='recaptcha',\n    iterations=2\n  )\n)"
          },
          {
            "lang": "bash",
            "label": "Run manual CAPTCHA evaluation",
            "source": "curl -X POST \"https://api.hyperbrowser.ai/api/session/$SESSION_ID/captcha/evaluate\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $HYPERBROWSER_API_KEY\" \\\n  -d '{\"captchaType\":\"recaptcha\",\"iterations\":2}'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptchaEvaluationParams"
              },
              "examples": {
                "recaptchaVisual": {
                  "summary": "Evaluate visual reCAPTCHA",
                  "value": {
                    "captchaType": "recaptcha",
                    "iterations": 2
                  }
                },
                "turnstile": {
                  "summary": "Evaluate Turnstile",
                  "value": {
                    "captcha": "turnstile",
                    "maxIterations": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CAPTCHA evaluation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptchaEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid evaluation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "CAPTCHA evaluation is already running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "summary": "Get list of sessions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "List sessions",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.list({\n  status: 'active'\n});"
          },
          {
            "lang": "python",
            "label": "List sessions",
            "source": "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import SessionListParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.list(SessionListParams(\n  status='active'\n))"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "required": [
                "false"
              ],
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "error"
              ],
              "required": [
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Session"
                      }
                    },
                    "totalCount": {
                      "type": "number",
                      "example": 100
                    },
                    "page": {
                      "type": "number",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "number",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/recording-url": {
      "get": {
        "summary": "Get session recording URL",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Get recording URL",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.getRecordingURL('session-id');"
          },
          {
            "lang": "python",
            "label": "Get recording URL",
            "source": "from hyperbrowser import Hyperbrowser\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.get_recording_url('session-id')"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session recording URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionRecordingUrlResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/video-recording-url": {
      "get": {
        "summary": "Get session video recording URL",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Get video recording URL",
            "source": "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.sessions.getVideoRecordingURL('session-id');"
          },
          {
            "lang": "python",
            "label": "Get video recording URL",
            "source": "from hyperbrowser import Hyperbrowser\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.sessions.get_video_recording_url('session-id')"
          }
        ],
[...]
