openapi: 3.2.0
info:
  title: Hyperbrowser Extensions API
  version: 1.0.0
servers:
- url: https://api.hyperbrowser.ai
  description: Production server
tags:
- name: Extensions
paths:
  /api/extensions/add:
    post:
      summary: Add a new extension
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: Add an extension
        source: "import { Hyperbrowser } from '@hyperbrowser/sdk';\n\nconst client = new Hyperbrowser({ apiKey: 'your-api-key' });\n\nawait client.extensions.create({\n  filePath: '/path/to/extension.zip',\n  name: 'My Extension'\n});"
      - lang: python
        label: Add an extension
        source: "from hyperbrowser import Hyperbrowser\nfrom hyperbrowser.models import CreateExtensionParams\n\nclient = Hyperbrowser(api_key='your-api-key')\n\nclient.extensions.create(CreateExtensionParams(\n  file_path='/path/to/extension.zip',\n  name='My Extension'\n))"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateExtensionParams'
      responses:
        '200':
          description: Extension added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResponse'
      tags:
      - Extensions
      operationId: postApiExtensionsAdd
      x-operation-id-source: derived
  /api/extensions/list:
    get:
      summary: List all extensions
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: javascript
        label: List extensions
        source: 'import { Hyperbrowser } from ''@hyperbrowser/sdk'';


          const client = new Hyperbrowser({ apiKey: ''your-api-key'' });


          await client.extensions.list();'
      - lang: python
        label: List extensions
        source: 'from hyperbrowser import Hyperbrowser


          client = Hyperbrowser(api_key=''your-api-key'')


          client.extensions.list()'
      responses:
        '200':
          description: Extension added successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtensionResponse'
      tags:
      - Extensions
      operationId: getApiExtensionsList
      x-operation-id-source: derived
components:
  schemas:
    CreateExtensionParams:
      type: object
      properties:
        file:
          type: string
          format: binary
        name:
          type: string
      required:
      - file
    ExtensionResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: iso8601
        updatedAt:
          type: string
          format: iso8601
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
